$color_1: white;
$color_2: #f56fb2;
$background-color_1: rgb(182, 14, 99);
$background-color_2: white;
$background-color_3: pink;
$background-color_4: coral;
$background-color_5: rgba(255, 212, 212, 0.308);
$background-color_6: rgb(238, 228, 228);

html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
* {
	box-sizing: border-box;
}
.wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
}
.navbar {
	position: relative;
	height: 100px;
	min-width: 400px;
	padding-left: 35px;
	padding-right: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 25px;
	background-color: $background-color_2;
	box-shadow: 0 10px 20px rgba(82, 74, 74, 0.3);
	&:after {
		content: "";
		position: absolute;
		bottom: 7px;
		height: 3px;
		width: 35%;
		left: 50%;
		transform: translateX(-50%);
		background-color: $background-color_3;
		opacity: 0.3;
		border-radius: 1px;
	}
}
.circle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: calc(100px - 40px);
	margin-bottom: 0;
	height: 80px;
	width: 80px;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: $background-color_4;
	z-index: 2;
	box-shadow: 0 5px 5px rgba(255, 147, 85, 0.35);
	transition: 0.3s;
	&:hover {
		height: 202px;
		border-radius: 50px;
		.plus-icon {
			transform: rotate(360deg);
			opacity: 0;
		}
		.social {
			&:nth-child(2) {
				opacity: 1;
				top: 5px;
			}
			&:nth-child(3) {
				opacity: 1;
				top: calc(5px + 60px + 5px);
			}
			&:nth-child(4) {
				opacity: 1;
				top: calc(5px + 60px + 5px + 60px + 5px);
			}
		}
	}
	.plus-icon {
		color: $color_1;
		font-size: 27px;
		transition: 0.3s, 0.2s;
	}
	.social {
		position: absolute;
		top: 195px;
		color: $color_1;
		background-color: $background-color_5;
		height: 60px;
		width: 60px;
		margin-bottom: 5px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		cursor: pointer;
		&:nth-child(2) {
			opacity: 0;
			transition: 0.3s, top 0.5s ease;
		}
		&:nth-child(3) {
			opacity: 0;
			transition: 0.3s, top 0.5s 0.1s ease;
		}
		&:nth-child(4) {
			opacity: 0;
			transition: 0.3s, top 0.5s 0.22s ease;
			margin-bottom: 0px;
		}
	}
}
.circleBackground {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: calc(100px - 100px / 2);
	margin-bottom: 0;
	height: calc(80px + 20px);
	width: calc(80px + 20px);
	border-radius: calc(100px / 2);
	background-color: $background-color_6;
}
.icon-home {
	font-size: 29px;
	color: $color_2;
}
.icon-settings {
	font-size: 29px;
	color: $color_2;
}
